<footer>

    <section class="redes-sociales">
        <div class="contenedor">
            <a class="twitter" href="http://www.twitter.com/falconmasters"><i class="fa fa-twitter"></i></a>
            <a class="facebook" href="http://www.facebook.com/falconmasters"><i class="fa fa-facebook"></i></a>
            <a class="youtube" href="http://www.youtube.com/falconmasters"><i class="fa fa-youtube-play"></i></a>
            <a class="github" href="http://www.github.com/falconmasters"><i class="fa fa-github"></i></a>
            <a class="instagram" href="http://www.instagram.com/falconmasters"><i class="fa fa-instagram"></i></a>
        </div>
    </section>
</footer>